@tailwind base;
@tailwind components;
@tailwind utilities;

*, *:focus {
  -webkit-tap-highlight-color : rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color : transparent;
  -webkit-touch-callout       : none;
  -webkit-user-select         : none;
  -khtml-user-select          : none;
  -moz-user-select            : none;
  -ms-user-select             : none;
  user-select                 : none;
  -ms-touch-action            : manipulation;
  touch-action                : manipulation;

  @apply outline-none #{!important};
}

#app {
  height : 100vh;
  height : calc(var(--vh, 1vh) * 100);
}
